* {
  font-family: "Hind", sans-serif;
}

html {
  overflow-x: hidden;
}

.container-alura {
  margin: 0 auto;
  width: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.row {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.formulario-pesquisa-paises {
  margin-top: 3rem;
  margin-left: 10%;
  padding-left: 15px;
}
.formulario-pesquisa-paises input {
  background-color: #b9b6d6;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

.page-destinos li {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #9996c3;
  margin: 15px;
  padding: 15px;
  position: relative;
}

.page-destinos a {
  position: absolute;
  top: 15px;
  padding: 5px;
  color: #fff;
  background-color: #7976b0;
}

.page-destinos img {
  width: 100%;
  height: 30vh;
}

.page-destinos .row {
  margin: auto;
  padding: auto;
}

.page-destinos .lista-destinos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 10%;
}

.page-destinos .titulo-destino {
  font-weight: 600;
}

.lista-destinos {
  margin-bottom: 4rem !important;
}
