* {
  font-family: "Hind", sans-serif;
}

html {
  overflow-x: hidden;
}

.container-alura {
  margin: 0 auto;
  width: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.row {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.imagem-sobre-nos,
.imagem-conteudo-blog {
  max-width: 100%;
  width: 100vw;
  height: 40vh;
  z-index: -1;
}

.conteudo {
  margin: 0 3rem;
  text-align: justify;
}
